@media screen and (min-width:900px) {
    /* ============================= phan menu giao dien dien thoai ============================ */
    .menu-cua-dien-thoai{
        display: none;
    }
    .menu_dien_thoai{
        width: 25px;
        height: 3px;
        margin-bottom: 4px;
        background-color: black;
    }
    /* ============================= phan header ============================ */
    /* logo - tìm kiếm - gỏ hàng - đăng nhập */
    .tim-kiem-dang-nhap-gio-hang{
        justify-content: space-between;
        box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    }
    /* set chieu rong */
    .logo,.tim-kiem{
        padding: 15px 10px;
    }
    .logo{
        margin-right: 4rem;
    }
    .logo,.dang-nhap-gio-hang,.tim-kiem{
        flex:1;
    }
    .logo{
        font-size: 40px;
    }

    .dang-nhap-gio-hang{
        flex-basis: 1000px;
        align-items: center;
    }

    /* set kich thuoc phan tim kiem */
    .tim-kiem > input,.tim-kiem > button{
        padding: 8px;
    }
    .tim-kiem > input{
        width:80%;
        border-radius: 3px;
        outline: none;
        border-width: 1px;
    }
    /* set kich thuoc phan dang-nhap, gio-hang */
    .gio-hang,.dang-nhap{
        padding: 10px;
    }
    .gio-hang,.dang-nhap > i{
        font-size: 24px;
    }
    .gio-hang > span{
        font-size: 12px;
        padding: 2px 5px;
        background-color: black;
        color: white;
        border-radius: 50%;
    }
    .dang-nhap > span{
        margin-left: 10px;
        font-size: 20px;
    }
    .danh-sach-loai-san-pham{
        background-color: #E8E8E8;
    }

    /* gioi thieu */
    .gioi-thieu{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .wrap-chi-tiet-gioi-thieu{
        height: 500px;
    }
    .wrap-chi-tiet-gioi-thieu + .wrap-chi-tiet-gioi-thieu{
        margin-left: 20px;
    }

    /* san pham */
    .list-menu > li{
        padding: 16px 10px;
        font-size: 14px;
        font-weight: bold;
        opacity:.6;
    }
    .wrap-thong-tin-san-pham{
        padding-right: 20px;
    }
    
    .wrap-thong-tin-san-pham > div {
        margin-top: 10px;
    }
    .wrap-list-san-pham{
        width: 100%;
    } 
    .list-san-pham{
        flex: 1;
        overflow-x: hidden;
    }
    .list-san-pham-thuong{
        flex:1;
        flex-wrap: wrap;
        gap: .5rem;
    }
    
    .title{
        padding: 40px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .wrap-img-san-pham{
        padding: 15px;
    }
    .gia,.ten-san-pham{
        padding-left:20px;
    }
    
    .best-seller{
        margin:0 40px;
    }
    .san-pham{
        padding: 1rem;
        flex: 0 0 calc(25% - 1rem);
        border-radius: 20px;
        margin: 0 0.5rem;
        transition: 1s;
    }
    .san-pham-thuong{
        flex: 0 0 calc(24% - .5rem);
    }
    .san-pham img:hover, .san-pham-thuong img:hover,.san-pham-gioi-thieu img:hover{
        transform: scale(1.1);
        transition: .6s;
    }

    .san-pham-gioi-thieu{
        flex: 0 0 calc(20% - .5rem);
        border:1px solid black;
        margin: 0 0.5rem;
        transition: 1s;
    }

    /* footer */
    .item-footer{
        flex: 0 0 33%;
    }
}
